@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@font-face {
    font-family: RobotoCondensed-light;
    src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotoCondensed-extralight;
    src: url(../fonts/RobotoCondensed-ExtraLight.ttf);
}

/* Start of root element */
:root {
    --Bold-font-family: RobotoCondensed-Bold;
    --light-font-family: RobotoCondensed-light;
    --extra-light-font-family: RobotoCondensed-extralight;
    --primary-color: rgb(52, 161, 205);
    --secondary-color: rgb(19, 15, 73);
    --primary-font-color: rgb(0, 0, 0);
    --secondary-font-color: rgb(255, 255, 255);
}
/* End of root element */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Start of header for all pages (home, about, portfolio, contact, resume) */
.main-header {
    margin: 1rem 0 1rem 0;
    background: var(--secondary-font-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Start of navigation-bar */
.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-portfolio {
    display: flex;
    width: 50%;
    padding-top: 1rem;
}

.logo-portfolio img{
    width: 12.5rem;
    height: 100%; 
}

.navigation-bar ul {
    display: flex;
    list-style-type: none;
    gap: 3.125rem;
    align-items: center;
}

.navigation-bar ul li a {
    text-decoration: none;
    font-family: var(--Bold-font-family);
    color: var(--primary-font-color);
    font-size: 1.2rem;
}

.navigation-bar ul li a:hover {
    color: var(--primary-color);
}

.button-connect {
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
    font-family: var(--Bold-font-family);
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: none;
}
.button-connect:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.hamburger-menu {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    font-size: 2rem;
    display: none;
    color: var(--secondary-color);
    background-color: transparent;
}

.mobile-main-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 5%;
    bottom: 0;
    width: 100%;
    max-width: 10rem;
}

.mobile-main-nav ul{
    background-color: var(--primary-color);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.mobile-main-nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--Bold-font-family);
    font-size: 1.2rem;
    padding: 0.5rem;
}

.mobile-main-nav .close-button button {
    background: transparent;
    border: 0;
    font-size: 2rem;

}

.show-mobile-menu {
    display: none;
}
/* End of navigation bar */
/* End of header for all pages (home, about, portfolio, contact, resume)*/

/* Start of main section  index page */
.utsav-banner{
    display: grid;
    grid-template-columns: 3.2rem 1fr 1fr 3.2rem 1fr 1fr 1fr 3.2rem;
    grid-template-rows: 4rem 3rem 1fr 1fr 3rem 3rem 6rem 7rem 4rem;
    
}

.utsav-banner-text {
    grid-area: 2 / 2 / 3 / 4;
    align-self: center;
    font-family: var(--extra-light-font-family);
    font-size: 1.15rem;
}

.utsav-banner-header {
    grid-area: 3 / 2 / 7 / 4;
    align-self: baseline;
}

.utsav-banner h1{
    font-family: var(--Bold-font-family);
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: 4rem;
}

.utsav-banner-header-second-line{
    color: var(--primary-color);
}

.utsav-banner-paragraph {
    grid-area: 7 / 2 / 8 / 4;
    align-self: center;
}

.utsav-banner p{
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.37rem;
    align-self: stretch;
}

.link-see-my-work {
    grid-area: 8 / 2 / 9 / 3;
    align-self: center;
}

.button-utsav-banner-see-work {
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    padding: 1.56rem 1.56rem;
    border-radius: 15px;
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
}

.link-start-work-with-me {
    grid-area: 8 / 3 / 9 / 4;
    align-self: center;
}

.button-utsav-banner-start-work {
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    padding: 1.56rem 1.56rem;
    border-radius: 0.938rem;
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
}

.utsav-picture {
    grid-area: 2 / 5 / 9 / 8;
    background-color: var(--primary-color);
    border-radius: 50% 0 50% 0;
}

.utsav-picture img {
    max-width: 100%;
    height: 100%;
    width: 43.75rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50% 0 50% 0;
    filter: drop-shadow(8px 8px 15px var(--secondary-color));
}
/* End of  main section of (index page) */

/* Start of main section of (about page) */
.about-utsav-banner {
    display: flex;
    gap: 5rem;
    margin: 5rem 5rem;
    
}

.about-skills-picture {
    flex-basis: 20%;
}

.my-skills {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.my-skills h1 {
    font-family: var(--Bold-font-family);
    font-size: 4rem;
    color: var(--secondary-color);
}

.my-skills h3 {
    font-family: var(--Bold-font-family);
    font-size: 2rem;
    font-weight: bolder;
}

.my-skills .my-skills-paragraph {
    font-family: var(--light-font-family);
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    line-height: 2rem;
}

.about-utsav-banner-picture img {
    max-width: 100%;

}


/* End of main section of (about page) */

/* Start of main section of (portfolio page) */
.portfolio-page-main {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: 8rem 1fr 4fr 3fr 8rem;
    row-gap: 0.5rem;
}

.portfolio-page-heading {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    font-family: var(--Bold-font-family);
    padding-left: 40%;
    color: var(--secondary-color);
    font-size: 2rem;
}

.mywork-image {
    grid-area: 3 / 2 / 4 / 3;
}

.mywork-image img {
    max-width: 100%;
    height: 100%;
}

.mywork-description {
    grid-area: 4 / 2 / 5 / 3;
    
}

.mywork-description p{
    font-family: var(--light-font-family);
    font-weight: 700;
    font-size: 20px;
    background-color: var(--primary-color);
    text-align: center;
    padding: 4rem;
}
/* End of main section of (portfolio page) */

/* start of main section of resume page */
.myresume {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin: 5rem 5rem;
    width: 100%;
    max-width: 1440px;
    flex-wrap: wrap;
    
}

.resume-heading h1 {
    font-family: var(--Bold-font-family);
    color: var(--secondary-color);
    font-size: 2.6rem;
}

.resume-heading h3 {
    font-family: var(--Bold-font-family);
    color: var(--secondary-color);
}

.info-resume {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 1rem;
}

.contact-resume {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contact-resume span {
    font-family: var(--light-font-family);
    font-weight: 800;
    font-size: 1.3rem;
}

.resume-summary p{
    font-family: var(--light-font-family);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.9rem;
}
.skills-list-resume > h2 {
    font-family: var(--Bold-font-family);
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 1rem;
}

.skills-list-resume li {
    list-style: none;
    padding: 0 0 0.6rem 1rem;
    font-family: var(--light-font-family);
    font-weight: 700;
    font-size: 1.3rem;
}

.education h2{
    font-family: var(--Bold-font-family);
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 1rem;
}

.education p {
    padding: 0 0 0.6rem 1rem;
    font-family: var(--light-font-family);
    font-weight: 700;
    font-size: 1.3rem;
}

.education h4 {
    font-family: var(--Bold-font-family);
    padding-left: 1rem;
    border-bottom: 2px solid var(--primary-color);
}

/* End of section of resume page */

/* Start of contact-page form */

label {
    text-align: left;
    display: block;
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.8rem;
    
}

.contact-form {
    background-color: var(--primary-color);
    margin: 0 10%;
    padding: 2.8rem 3.4rem;
    border-radius: 2rem;
    
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.col {
    padding: 1.3rem 2.2rem;
    text-align: left;
    
}

.form-control {
    width: 100%;
    border: none;
    padding: 1.2rem 1.8rem;
    
}


.submit {
    text-align: center;

}

.submit-form {
    padding: 1.5rem 2.2rem;
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    border-radius: 1.2rem;
    font-family: var(--Bold-font-family);
    font-size: 1.5rem;
}

.row {
    grid-template-columns: auto;
}

.contact-form-heading h1 {
    font-family: var(--Bold-font-family);
    color: var(--primary-font-color);
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

/* End of contact page form */

/* Start of footer for all pages (home, about, portfolio, contact, resume) */
footer {
    background-color: var(--secondary-color);
}
/* footer grid-container start */
.myfooter {
   display: grid;
   grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   padding: 5rem 5rem;
}
/* footer grid-container end */

/* Start of logo of footer styling */
.logo-footer {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
}

.logo-footer img {
    width: 120px;
    background-color: transparent;
    filter: opacity(0.5) brightness(150%);
    
}
/* End of logo of footer styling */

/* Start of quick-links */
.quick-links {
   grid-area: 2 / 3 / 4 / 4;
}

.quick-links h2 {
    font-family: var(--Bold-font-family);
    color: var(--secondary-font-color);

}

.quick-links ul {
    list-style-type: none;
    
}

.quick-links ul li a {
    text-decoration: none;
    color: var(--secondary-font-color);
    font-family: var(--light-font-family);
    line-height: 2rem;
}
/* End of quick-links */

/* Start of conatct-me */
.contact-me {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.contact-me h3{
    color: var(--secondary-font-color);
    font-family: var(--Bold-font-family);
    font-size: 22px;
}

.contact-me ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.contact-me ul li a {
    font-family: var(--light-font-family);
    color: var(--secondary-font-color);
    text-decoration: none;
    font-size: 16px;
}
/* End of conatct-me */

/* Start of social-media-links */
.social-media-links {
   grid-area: 2 / 5 / 3 / 6;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media-links h3 {
    font-family: var(--Bold-font-family);
    color: var(--secondary-font-color);
    font-weight: bold;
    font-size: 22px;
}

.social-media img {
    width: 20px;
}
/* End of social-media-links */

/* Start of copyright info */
.copyright-info {
    grid-area: 4 / 4 / 5 / 6;
    align-self: center;
}

.copyright-info p{
    font-family: var(--extra-light-font-family);
    color: var(--secondary-font-color);
}
/* End of copyright info */
/* End of footer for all pages (home, about, portfolio, contact, resume) */
    
/* Start of media-quires for main section of landing page */

/* Start of media quires for small screen */
@media screen and (max-width: 800px) {
/* Start of hambuger-menu for mobile  */
    .hamburger-menu {
        display: block;
        text-align: right;
        
    }

    .navigation-bar ul {
        display: none;
    }

    .show-mobile-menu {
        display: block;
    }

    .navigation-bar {
        display: flex;
        justify-content: flex-start;
    }
    
    .logo-portfolio{
        padding: 0;
    }

    .logo-portfolio img{
        width: 7rem;
        height: 100%; 
        filter: brightness(80%);
    }
/* End of hamburger menu for mobile menu */

/* start of portfolio page */
.portfolio-page-main {
    display: flex;
    flex-direction: column;
    margin: 3rem 0.2rem;
} 

.portfolio-page-heading{
    padding-right: 2rem;
}
.portfolio-page-heading h1 {
    font-size: 2rem;
}
/* End of portfolio page */

/* Start of contact page */
.contact-form {
    grid-auto-columns: auto;
}

/* End of contact page */

/* Start of main section of index page */
    .utsav-banner {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 11rem 0;
    }
    /* End of main section of index page */

    /* Start of main section of about page */
    .about-utsav-banner {
        flex-direction: column;
        gap: 1rem;
        margin: 3rem 0;
        padding: 0 2rem;
    }

    .my-skills h1 {
        font-size: 1.7rem;
    }

    .my-skills h3 {
        font-size: 1.1rem;
    }

    .my-skills .my-skills-paragraph {
        font-size: 1rem;
    }
    
    /* End of main section of about page */

    /* Start of main section of resume page */
    .myresume {
        margin: 0;
        padding: 1rem 1rem;
        column-gap: 1rem;
    }
    
    .contact-resume span{
        display: inline-block;
        font-size: 0.8rem;
        
        
    }
    /* End of main section of resume page */

    /* Start of footer css for max-width 800px */
    .myfooter {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        width: 100%;
     }

    /* End of footer css for max-width 800px */
    
}

@media screen and (min-width: 800px) {
    .show-mobile-menu {
        display: none;
    }
}
/* End of media queries for small screen */

/* Start of media quries for max-width 1080px */
@media screen and (min-width: 1080px) {
    .utsav-banner-header {
        align-self: center;
        line-height: 5rem;
    }
}
/* End of media quries for max-width 1080px */

/* Start of media queries for min-width 801px */
@media screen and (min-width: 801px) and (max-width: 1000px) {
    body {
        margin: 0 2rem;
    }

    .myresume {
        margin: 3rem 0;
    }
}
/* SEnd of media queries for min-width 801px */






