@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@font-face {
    font-family: RobotoCondensed-light;
    src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotoCondensed-extralight;
    src: url(../fonts/RobotoCondensed-ExtraLight.ttf);
}

/* Start of root element */
:root {
    --Bold-font-family: RobotoCondensed-Bold;
    --light-font-family: RobotoCondensed-light;
    --extra-light-font-family: RobotoCondensed-extralight;
    --primary-color: rgb(52, 161, 205);
    --secondary-color: rgb(19, 15, 73);
    --primary-font-color: rgb(0, 0, 0);
    --secondary-font-color: rgb(255, 255, 255);
}
/* End of root element */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Start of header for all pages (home, about, portfolio, contact, resume) */
.main-header {
    margin: 1rem 0 1rem 0;
    background: var(--secondary-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Start of navigation-bar */
.navigation-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-portfolio {
    display: flex;
    width: 50%;
}

.logo-portfolio img{
    width: 12.5rem;
    height: 100%; 
    filter: brightness(80%);
}

.navigation-bar ul {
    display: flex;
    list-style-type: none;
    gap: 3.125rem;
    align-items: center;
}

.navigation-bar ul li a {
    text-decoration: none;
    font-family: var(--Bold-font-family);
    color: var(--primary-font-color);
    font-size: 1.2rem;
}

.navigation-bar ul li a:hover {
    color: var(--primary-color);
}

.button-connect {
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
    font-family: var(--Bold-font-family);
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: none;
}
.button-connect:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.hamburger-menu {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    font-size: 2rem;
    display: none;
    color: var(--secondary-color);
    background-color: transparent;
}

.mobile-main-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 5%;
    bottom: 0;
    width: 100%;
    max-width: 8rem;
}

.mobile-main-nav ul{
    background-color: var(--primary-color);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.mobile-main-nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--Bold-font-family);
    font-size: 1.2rem;
    padding: 0.5rem;
}

.mobile-main-nav .close-button button {
    background: transparent;
    border: 0;
    font-size: 2rem;

}

.show-mobile-menu {
    display: none;
}
/* End of navigation bar */
/* End of header for all pages (home, about, portfolio, contact, resume)*/

/* Start of main section  index page */
.utsav-banner{
    display: grid;
    grid-template-columns: 3.2rem 1fr 1fr 3.2rem 1fr 1fr 1fr 3.2rem;
    grid-template-rows: 4rem 3rem 1fr 1fr 3rem 3rem 6rem 7rem 4rem;
    
}

.utsav-banner-text {
    grid-area: 2 / 2 / 3 / 4;
    align-self: center;
    font-family: var(--extra-light-font-family);
    font-size: 1.15rem;
}

.utsav-banner-header {
    grid-area: 3 / 2 / 7 / 4;
    align-self: baseline;
}

.utsav-banner h1{
    font-family: var(--Bold-font-family);
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: 4rem;
}

.utsav-banner-header-second-line{
    color: var(--primary-color);
}

.utsav-banner-paragraph {
    grid-area: 7 / 2 / 8 / 4;
    align-self: center;
}

.utsav-banner p{
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.37rem;
    align-self: stretch;
}

.link-see-my-work {
    grid-area: 8 / 2 / 9 / 3;
    align-self: center;
}

.button-utsav-banner-see-work {
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    padding: 1.56rem 1.56rem;
    border-radius: 15px;
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
}

.link-start-work-with-me {
    grid-area: 8 / 3 / 9 / 4;
    align-self: center;
}

.button-utsav-banner-start-work {
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    padding: 1.56rem 1.56rem;
    border-radius: 0.938rem;
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
}

.utsav-picture {
    grid-area: 2 / 5 / 9 / 8;
    background-color: var(--primary-color);
    border-radius: 50% 0 50% 0;
}

.utsav-picture img {
    max-width: 100%;
    height: 100%;
    width: 43.75rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50% 0 50% 0;
    filter: drop-shadow(8px 8px 15px var(--secondary-color));
}
/* End of  main section of (index page) */

/* Start of main section of (about page) */
.about-utsav-banner {
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 17rem 18rem 3fr 19rem 19rem 3fr;
    grid-template-rows: 17.5rem 6.5rem 10rem 8rem 2rem 6rem 6.5rem 8rem 3rem 18rem 20rem 10rem;
}

.about-skills-heading {
    grid-area: 1 / 2 / 2 / 7;
    align-self: center;
   
}

.about-skills-heading h1 {
    background-color: var(--secondary-font-color);
    font-family: var(--Bold-font-family);
    font-weight: bolder;
    font-size: 2.8rem;
    padding: 2rem;
    border-radius: 1.2rem 2rem;
    color: var(--secondary-font-color);
    animation: change-color 2s infinite ease-out;
}


@keyframes change-color {
    from {
        background-color: var(--secondary-font-color);
        color: var(--secondary-font-color);
        
    }

    to {
        background-color: var(--primary-color);
        color: rgb(123, 214, 250);

    }
    
}

.about-utsav-banner-picture {
    grid-area: 2 / 2 / 9 / 4;
}

.about-utsav-banner-picture  img{
    max-width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
    border-radius: 1.875rem;
}

.my-skills-paragraph {
    grid-area: 2 / 5 / 5 / 7;
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    font-family: var(--light-font-family);
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 2rem;
}

.my-skills-paragraph-2 {
    grid-area: 6 / 5 / 9 / 7;
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    font-family: var(--light-font-family);
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 2rem;
}

.about-utsav-banner-paragraph {
    grid-area: 10 / 3 / 12 / 6;
    background-color: var(--secondary-color);
    max-width: 100%;
    align-content: center;
}

.about-utsav-banner-paragraph p{
    font-family: var(--light-font-family);
    color: var(--secondary-font-color);
    line-height: 2rem;
    font-size: 1.5rem;
    align-self: center;
    padding: 2rem;
}
    
/* End of main section of (about page) */

/* Start of main section of (portfolio page) */
.portfolio-page-main {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 30px 3fr 3fr 150px;;
    grid-template-rows: 100px 100px 10px 400px 100px 100px;
}

.portfolio-page-heading {
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
    font-family: var(--Bold-font-family);
}

.mywork-image {
    grid-area: 4 / 2 / 5 / 3;
}

.mywork-image img {
    max-width: 100%;
    height: 100%;
}

.mywork-description {
    grid-area: 5 / 2 / 6 / 3;
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 18px;
    background-color: var(--primary-color);
}
/* End of main section of (portfolio page) */

/* Start of contact-page form */
input[type=text], select, textarea, input[type=email], input[type=tel] input[type=radio] {
    padding: 0.8rem;
    border: 2px solid var(--primary-font-color);
    border-radius: 0.4rem;
    box-sizing: border-box;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    resize: vertical;
}

label {
    padding: 1rem 1rem 1rem 0;
    display: inline-block;
    font-family: var(--light-font-family);
    font-weight: bold;
    font-size: 1.8rem;
    
}

.contact-form {
    max-width: 100%;
    padding: 10rem 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
}

input[type=submit] {
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    padding: 1.8rem 2.2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    float: right;
    font-family: var(--Bold-font-family);
    font-size: 1.2rem;
}

input[type=submit]:hover {
    background-color: var(--primary-font-color);
}

.contact-form-heading h1 {
    font-family: var(--Bold-font-family);
    color: var(--primary-font-color);
    text-align: center;
}

.background {
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    padding: 3rem;
}
/* End of contact page form */

/* Start of footer for all pages (home, about, portfolio, contact, resume) */
footer {
    background-color: var(--secondary-color);
}
/* footer grid-container start */
.myfooter {
   display: grid;
   grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   padding: 5rem 5rem;
}
/* footer grid-container end */

/* Start of logo of footer styling */
.logo-footer {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
}

.logo-footer img {
    width: 120px;
    background-color: transparent;
    filter: opacity(0.5) brightness(150%);
    
}
/* End of logo of footer styling */

/* Start of quick-links */
.quick-links {
   grid-area: 2 / 3 / 4 / 4;
}

.quick-links h2 {
    font-family: var(--Bold-font-family);
    color: var(--secondary-font-color);

}

.quick-links ul {
    list-style-type: none;
    
}

.quick-links ul li a {
    text-decoration: none;
    color: var(--secondary-font-color);
    font-family: var(--light-font-family);
    line-height: 2rem;
}
/* End of quick-links */

/* Start of conatct-me */
.contact-me {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.contact-me h3{
    color: var(--secondary-font-color);
    font-family: var(--Bold-font-family);
    font-size: 22px;
}

.contact-me ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.contact-me ul li a {
    font-family: var(--light-font-family);
    color: var(--secondary-font-color);
    text-decoration: none;
    font-size: 16px;
}
/* End of conatct-me */

/* Start of social-media-links */
.social-media-links {
   grid-area: 2 / 5 / 3 / 6;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media-links h3 {
    font-family: var(--Bold-font-family);
    color: var(--secondary-font-color);
    font-weight: bold;
    font-size: 22px;
}

.social-media img {
    width: 20px;
}
/* End of social-media-links */

/* Start of copyright info */
.copyright-info {
    grid-area: 4 / 4 / 5 / 6;
    align-self: center;
}

.copyright-info p{
    font-family: var(--extra-light-font-family);
    color: var(--secondary-font-color);
}
/* End of copyright info */
/* End of footer for all pages (home, about, portfolio, contact, resume) */
    
/* Start of media-quires for main section of landing page */

/* Start of media quires for small screen */
@media screen and (max-width: 800px) {
/* Start of hambuger-menu for mobile  */
    .hamburger-menu {
        display: block;
        text-align: right;
    }

    .navigation-bar ul {
        display: none;
    }

    .show-mobile-menu {
        display: block;
    }

    .navigation-bar {
        display: flex;
        justify-content: flex-start;
    }

    .logo-portfolio img{
        width: 7rem;
        height: 100%; 
        filter: brightness(80%);
    }
/* End of hamburger menu for mobile menu */

/* Start of main section of index page */
    .utsav-banner {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 11rem 0;
    }
    /* End of main section of index page */

    /* Start of main section of about page */
    .about-utsav-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 3rem 0;
        gap: 2rem;
    }

    .about-skills-heading h1 {
        font-size: 1.5rem;
    }
    /* End of main section of about page */

    /* Start of footer css for max-width 800px */
    .myfooter {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        width: 100%;
     }

    /* End of footer css for max-width 800px */
    
}

@media screen and (min-width: 800px) {
    .show-mobile-menu {
        display: none;
    }
}
/* End of media queries for small screen */

/* Start of media quries for max-width 1080px */
@media screen and (min-width: 1080px) {
    .utsav-banner-header {
        align-self: center;
        line-height: 5rem;
    }
}
/* End of media quries for max-width 1080px */

/* Start of media queries for contact page */
@media screen and (max-width: 600px) {
        body {
            overflow: hidden;
        }
        .background {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
        }

}

/* End of media queries for contact page */

